html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid red;
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat

}


p {
    font-size: 7rem;
    text-align: center;
    color:rgb(210, 203, 203);
}