html {
	background-color: #224b91;
    }
    
    body {
	width: 60%;
	margin: 0 auto;
	background-color: #09ab49;
	border: 5px solid black;
    }
    
    img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	border: 10px ridge gold;
    }
    
    #primary {
	color: #0071c8;
    }
    
    #secondary {
	color: red;
    }