
body {
	font-size: 1.5rem;
	text-align: center;
	padding-top: 36px;
    }
    
    
    div p {
	color: orange;
    }
    

    div > p {
	color: purple;
    }
    

    div ~ p {
	font-weight: 900;
    }
    

    div + p {
	font-size: 6rem;
    }





