html {
	background-color: white;
	border: 2px dashed blue;
    }
    
    body {
	width: 80%;
	margin: 10% 10%;
	border: 2px dashed blue;
	align-content: center;
    }
    
    div {
	border: 2px solid black;
	margin: 2% auto;
    
    
    }
    
    #first  {
	width: 60px;
	height: 30px;
	background-color:red;
	border-radius: 3px;
    
    }
    
    #second  {
	width: 60px;
	height: 30px;
	background-color:blue;
	border-radius: 3px;
    }
    
    #third  {
	width: 60px;
	height: 30px;
	background-color:yellow;
	border-radius: 3px;
    }
    
    #fourth {
	width: 60px;
	height: 30px;
	background-color: green;
	border-radius: 3px
    }