* {
    border: 3px solid rgb(198, 32, 32)
}

div {
    height: 100px;
    width: 100px;
    background-color:rgb(125, 125, 125);
    color: rgb(23, 23, 180);

}

#one  {
    position: relative;
    top: 50px;
    left: 70px;
    background-color: rgb(17, 147, 30);
}
