
li:first-child {
    color: red;
}


li:last-child {
    color: blue;
}


li:nth-child(even) {
    background-color: yellow;
}


li:nth-child(odd) {
    background-color: orange;
}


li:nth-child(2) {
    font-weight: bold;
}


li:only-child {
    background-color: black;
    color: white;
}

li:nth-child(2n+1) {
    font-size: 2rem;
}